*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FF 100%);
    border: 1px solid gainsboro;
}
/* ----------------------------------------header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 10px 10px 30px gainsboro;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
    background-color: #008F76;
    width: 100%;
    height: 120px;
}
.header__img{
    width:  60px;
    height: 60px;
}
.header__list{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    width: 655px;
    height: 52px;
    border-radius: 10px;
    /* border: 1px solid gainsboro; */
}
.header__link{
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    /* border: 1px solid gainsboro; */
    color: #F5F5FF;
}
.header__link:hover{
    width: 100%;
    height: 50%;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 24px;
    border: 1px solid #FFFFFF;
    transition: 0.5s all;
}
/* -----------------------------------------------------------head------------ */
.head__container{
    margin-top: 120px;
}
.head__text__box{
    width: 1000px;
    height: 268px;
    margin-left: 100px;
    margin-top: 150px;
    text-align: center;
}
.head__text{
    font-family: Gentium Basic;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 150%;
}
.span{
    color: #008F76;
}
.head__title{
    font-family: sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 50px;
    line-height: 200%;
    word-spacing: -3px;
    margin-bottom: 48px;
}
.head__btn__box{
    width: 508px;
    height: 52px;
    border-radius: 20px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
}
.head__btn{
    width: 220px;
    height: 100%;
    border-radius: 20px;
    padding: 10px 24px;
    border: 1px solid #008F76;
    background-color: #F6F5FF;
    font-family: sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    color: #008F76;
}
.head__btn:hover{
    background-color: #008F76;
    color: #FFFFFF;
}
.head__hr{
    width: 405px;
    height: 1px;
    border-width: 0.5px;
    border: 0.5px solid #008F76;
    margin-left: 400px;
    margin-bottom: 40px;
}
.head__img__box{
    width: 400px;
    height: 350px;
    margin-left: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.head__img{
    max-width:  100vh;
    height: 220px;
    scroll-snap-align: start;
    background-color: #FFFFFF;
}





