*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FF 100%);
}
/* ----------------------------------------header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 10px 10px 30px gainsboro;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
    background-color: #008F76;
    width: 100%;
    height: 120px;
}
.header__img{
    width:  60px;
    height: 60px;
}
.header__list{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    width: 655px;
    height: 52px;
    border-radius: 10px;
    /* border: 1px solid gainsboro; */
}
.header__link{
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    /* border: 1px solid gainsboro; */
    color: #F5F5FF;
}
.header__link:hover{
    width: 100%;
    height: 50%;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 24px;
    border: 1px solid #FFFFFF;
    transition: 0.5s all;
}











